/* General reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Neucha", cursive;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
}

/* Header */
header {
  background-color: transparent;
  transition: background-color 0.3s ease;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

header.scrolled-header {
  background-color: black;
  color: white;
}


header .navbar-nav {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(23, 29, 30, 0.7) 0%, rgba(0, 0, 0, 0.0) 100%);
}

header .navbar-nav nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

header .navbar-nav nav div {
  display: flex;
}

header .navbar-nav nav div a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header .navbar-nav nav div a:hover {
  color: #dbd800;
  transition: all 0.3s ease;
  text-decoration: underline;
}

/* Banner */
.banner {
  display: flex;
  width: 100%;
  align-items: center;
  /* Centra verticalmente el contenido */
  justify-content: center;
  /* Centra horizontalmente el contenido */
  position: relative;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #1e1e1e, transparent);
  /* Gradiente de #1e1e1e a transparente */
  z-index: 0;
  /* Asegura que esté entre el video y el contenido */
}

.banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

}



.banner .welcome-message {
  position: absolute;
  bottom: 0;
  text-align: center;
  color: white;
  z-index: 1;
  padding: 20px;
  max-width: 90%;
  display: flex;
  flex-direction: column;

}

.welcome-message h1 {
  font-size: 2vw;
  /* Escala con el ancho del viewport */
  font-weight: 500;
  padding-bottom: 20vh;
  /* Escala con la altura del viewport */
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  /* Asegura que se vea bien en diferentes tamaños */
}

@media (max-width: 768px) {

  /* Tablets y dispositivos pequeños */
  .welcome-message h1 {
    font-size: 3vw;
    padding-bottom: 8vh;
  }
}

@media (max-width: 480px) {

  /* Teléfonos */
  .welcome-message h1 {
    font-size: 4vw;
    padding-bottom: 5vh;
  }
}

/* About Section */
.about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20rem 0;
  background-color: #1e1e1e;
  color: #ffffff;
  gap: 2rem;
  position: relative;
  /* Importante para usar pseudo-elementos */
  margin: 0 auto;
  max-width: 1280px;
}

.about-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.97);
  /* Capa semitransparente para oscurecer la imagen */
  z-index: -1;
  /* Envía la capa al fondo */
}

.about-content {
  flex: 1;
  max-width: 40%;
}

.about-content h1 {
  font-size: 58px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0.2px;
}

.about-content p {
  font-size: 1.5rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.features-box {
  padding: 0;
  height: 100%;
}

.features-box video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.features-box p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .about-content {
    max-width: 100%;
  }

  .features-box {
    max-width: 100%;
  }
}

/* Responsiveness */
@media (max-width: 480px) {
  header {
    height: 60px;
  }

  .banner {
    height: 70vh;
  }

  .about-section {
    padding: 1rem;
  }

  .about-content h1 {
    font-size: 2rem;
  }

  .about-content p {
    font-size: 1rem;
  }

  .features-box p {
    font-size: 0.9rem;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: auto auto;
  margin-top: 80px;
  margin-bottom: 120px;
  max-width: 1280px;
}


.slider .title {
  text-align: center; 
  font-size: 48px;
}

.slides {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
}

.slides > div {
  flex: 1;
  min-width: 300px;
}

.slides h1 {
  font-size: 1.8rem;
}

.slides p {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
}

.slides img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.price-info,
.color-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.color-options span {
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.buttons div {
  flex: 1;
  text-align: center;
  border: 1px solid yellow;
  padding: 10px;
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .slides {
    flex-direction: column;
  }

  .slides > div {
    max-width: 100%;
    margin: 0 auto;
  }

  .slides img {
    max-width: 100%;
    margin: 20px 0;
  }

  .price-info,
  .color-options {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .buttons div {
    padding: 8px;
    font-size: 0.9rem;
  }
}


.products {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  transition: transform 0.5s ease-in-out;
  width: max-content;
  overflow: hidden;
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 18px;
  width: 50px;
  height: 50px;
  transition: all 0.3s ease;
}

.slider-button:hover {
  background-color: #555;
  transition: all 0.3s ease;
}

.slider-button.prev {
  left: 0;

  border-radius: 50%;
}

.slider-button img {
  width: 100%;
  height: 100%;
}

.slider-button.next {
  right: 0;
  border-radius: 50%;
}

.card {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  height: auto;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h2 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.portada {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
  background-size: cover;
  background-position: center;
}


.card-portada {
  text-align: center;
  max-width: 300px;
}

.card-portada img {
  width: 150px;
  height: auto;
  margin-bottom: 15px;
}

.card-portada p {
  font-size: 12px;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
}

.boton-contacto {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px 0px 10px 0;
  /* Esquinas redondeadas arriba */
  text-decoration: none;
  font-family: Arial, sans-serif;
  position: relative;
}

.boton-contacto:hover {
  background-color: #444;
  /* Efecto hover */
  color: #fff;
}

.logoFooter {
  max-width: 225px;
}

.logoFooter img {
  width: 100%;
}

.social {
  display: flex;
  flex-direction: column;

}

.social a {
  width: 3em;
  height: 3em;
  margin: 10px;
}

.social a svg {
  width: 100%;
  height: 100%;
  filter: invert(1);
}

.location {
  display: flex;
  flex-direction: column;
}

.location p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: calc(15px / 2);
  ;
  margin-left: 20px;
}

.wrapper .banner-productos {
  display: flex;
  width: 100%;
  position: relative;
  /* Esto mantiene el elemento en el flujo normal */
  justify-content: center;
  top: 0;
  /* Opcional si deseas que quede en el mismo lugar respecto al flujo */
}

.wrapper .banner-productos .portada {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  height: auto;
  top: 0;
}

.wrapper .banner-productos .portada img {
  width: 100%;
  /* Asegura que la imagen ocupe el ancho completo */
  height: 500px;
  /* Limita la altura de la imagen */
  object-fit: cover;
  /* Ajusta el contenido de la imagen */
  position: relative;
  top: 0;
}

.wrapper .banner-productos .portada p {
  position: absolute;
  color: white;
  z-index: 1;
  /* Asegura que el texto esté encima de la imagen */
  font-size: 58px;
  padding: 200px 0;
}

.info-portada {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 700px;
  margin: 40px auto;
}

.info-portada h2 {
  padding: 10px;
  font-size: 32px;
  flex: 0 0 200px;
}

.info-portada p {
  padding: 10px;
}

.container-productos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 0;
}

.mision-vision {
  display: flex;
  flex-direction: column;

}

.mision-img {
  width: 600px;
}

.mision-img img {
  width: 100%;
}

.container-card-nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto;

}

.container-card-nosotros .card-nosotros {
  padding: 20px;
  text-align: center;
  box-shadow: none;
  border-bottom: 1px solid white;
}

.container-card-nosotros .card-nosotros h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #ffd700;
  /* Color dorado para los títulos */
}

.container-card-nosotros .card-nosotros p {
  margin: 0;
  font-size: 1em;
  line-height: 1.5;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.gallery img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  opacity: 0.8;
}

.form-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  width: 100%;
  margin: 40px 0;
}

.btn {
  background-color: #eee;
  border: 1px solid #ddd;
  color: #333;
  font-size: 1em;
  font-family: inherit;
  padding: 10px 15px;
  border-radius: 0;
}

.form-contact input,
.form-contact textarea {
  padding: 10px;
  font-size: 1em;
  border-radius: 0;
  font-family: inherit;
  outline: none;
  border: none;
  resize: none;
}

.info-contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 40px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #f0f0f0;
  /* Texto blanco para contraste */
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #444;
}

th {
  background-color: #404342;
  /* Fondo oscuro para encabezados */
  font-weight: bold;
  text-transform: uppercase;
}

tbody tr {
  background-color: #2c2e2d;
  /* Fondo de filas */
  transition: background-color 0.3s;
}

tbody tr:hover {
  background-color: #3a3d3c;
  /* Fondo al pasar el mouse */
}

img {
  border-radius: 3px;
  /* Bordes redondeados para imágenes */
}

td img {
  margin-right: 10px;
  /* Espaciado entre imagen y texto */
}

.nav-lateral {
  display: flex;
  flex-direction: column;
  background: #2c2e2d;
  border-radius: 3px;
  width: 300px;
}

.nav-lateral a {
  color: #f0f0f0;
  /* Texto blanco */
  text-decoration: none;
  /* Quitar subrayado */
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-lateral a:hover {
  background-color: #404342;
  /* Fondo más claro al pasar el mouse */
  color: #ffffff;
  /* Asegurar contraste en hover */
}

.nav-lateral a:active {
  background-color: #3a3d3c;
  /* Fondo activo */
  font-weight: bold;
}